<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>

  <div class="post">
    <div align="left">
      <div class="title-spacer">
        <h1 id="title">
          {% if site.lang == "pt-br" %}
            Manifesto Lidimista
          {% else %}
            Lidimist Manifesto
          {% endif %}
        </h1>
      </div>
      <!-- Adds links to other languages on the post -->
      {% for lang in site.languages %}
        {% unless site.lang == lang %}
          {% if lang == site.default_lang and site.default_locale_in_subfolder != true %}
            Leia em: <a href="{{ site.baseurl_root }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
          {% else %}
            Read in: <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{% t langs.{{ lang }} %}</a>
          {% endif %}
          
          {% assign next = forloop.index | plus: 1 %}
          
          {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
            <span class="separator"> &bull; </span>
          {% endif %}
          
        {% endunless %}
      {% endfor %}
    </div>

    {% capture manifest %}{% include manifest/{{ site.lang }}_v{{ site.manifestVersion }}.md %}{% endcapture %}
    {{ manifest | markdownify }}


  </div>
</div>
